.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
  
}
@font-face {
  font-family: 'Get Schwifty';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/3089507/get-schwifty.woff') format('woff');
}
body{
  background-image: linear-gradient(to bottom, #285167 10%, transparent 20%), url('/public/wp7227935.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
#app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#button{
  color: white;
  cursor: pointer;

}
#buttons{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}
h2{
  padding: 2%;
  color: white;
  text-shadow: 0px 0px 10px rgb(0, 0, 0);
}
h3, h6{
  color: aliceblue;
  margin: 2%;
  padding: 2%;
}
.displayC, .displayL, .displayE{
  width: 75%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
#CharacterCard{
  margin: 5px;
  border-radius: 20px;
  width: 100%;
  background-color: #2f8a3f;
  box-shadow: 0px 0px 30px grey;
}
#locationCard{
  margin: 10px;
  border-radius: 20px;
  width: 250px;
  background-color: #2f8a3f;
  box-shadow: 0px 0px 30px grey;
}
#charImg{
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#giant{
  width: 175px;
  z-index: + 1;
  position: fixed;
  left: 30px;
  top: 350px;
  filter: drop-shadow(10px 10px 10px black)
}
#planet{
  width: 200px;
  z-index: + 1;
  position: fixed;
  right: 30px;
  top: 100px;
  filter: drop-shadow(10px 10px 10px black)
}
#ship{
  width: 220px;
  z-index: + 1;
  position: fixed;
  right: 30px;
  top: 700px;
  filter: drop-shadow(10px 10px 10px black)
}
#ram{
  width: 800px;
  z-index: + 1;
  display: block;
  filter: drop-shadow(0 0 10px black)
}